name: KOSPI PBR Monitor

on:
  schedule:
    # 한국 시간 오후 6시 5분 (UTC 09:05) 실행
    # 월요일부터 금요일까지(1-5) 작동합니다.
    - cron: '5 9 * * 1-5'
  workflow_dispatch: # 수동 실행 기능 유지

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # '지수명' 에러 방지를 위해 pykrx를 항상 최신 버전으로 업데이트
        pip install -U pykrx requests pandas

    - name: Run script
      env:
        TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      run: python monitor.py
